body {
  text-align: center;
}
.portfolio-website {
  max-width: 1000px;
}
h3 {
  font-style: italic;
}
.display-picture {
  border-radius: 50%;
}

.weather-app-preview {
  max-height: 500px;
  border-radius: 5px;
}
